<div class="typeaheadRoot" [style]="rootStyle">
    <input #typeaheadInput
        [class.dark] = "dark"
        [style]="inputStyle" class="form-control" type="text" [placeholder]="placeholder" (click)="onClick($event)" (focus)="onFocus($event)" (blur)="onBlur($event)" [(ngModel)]="searchQuery" (ngModelChange)="onChange($event)" (keydown)="onKeyDown($event)" spellcheck="false"/>
    <div class="typeaheadContainer">
        @if(displayTypeahead == true) {
            <div class="typeahead">
                <select #typeaheadSelect (mouseenter)="onTypeaheadFocus()" (mouseleave)="onTypeaheadUnfocus()" [size]="displayListSize" (focus)="onSelectFocus()" (change)="onSelectOption(null,$event)">
                    @for(option of displayList; track option; let index=$index)  {
                        @if(index == keyboardHoverIndex) {
                            <option #listOptionDiv class="listOption keyboardFocused" title={{option.label}} [attr.data-value]="option.value" 
                                [attr.data-index]="index"
                                [class.dark] = "dark"
                                >
                                {{option.label}}
                            </option>
                            <!-- (click)="onSelectOption(option)" -->
                        }
                        @else {
                            <option #listOptionDiv class="listOption" title={{option.label}} [attr.data-value]="option.value" 
                                [attr.data-index]="index"
                                [class.dark] = "dark"
                                >
                                {{option.label}}
                            </option>
                            <!-- (click)="onSelectOption(option)" -->
                        }
                    }
                </select>
            </div>
        }
    </div>
</div>