div.typeaheadRoot {
    display: flex;
    flex-direction: column;
}

div.typeaheadRoot * {
    font-size: 12px;
    user-select: none;
}

div.typeaheadRoot input::placeholder {
    color: gray;
}

div.typeaheadRoot input {
    width: 100%;
    background-color: rgb(40, 40, 40);
    border: none;
    color: white;
}

div.typeaheadRoot div.typeaheadContainer {
    position: relative;
}

div.typeahead {
    position: absolute;
    width: 100%;
    /* background-color: white ; */
    z-index: 99999;
    background: transparent;
}

div.typeahead select {
    height: 100%;
    width: 100%;
    appearance: none;
    background-color: rgb(40, 40, 40);
}

div.typeahead select::-webkit-scrollbar {
    /* height: 6px; */
    width: 4px;
}
  
div.typeahead select::-webkit-scrollbar-track {
    background: transparent;
}

div.typeahead select::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.listOption {
    background-color: white;
    border: 0.5px solid lightgray;
    border-collapse: collapse;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
}

.listOption.keyboardFocused {
    background-color: #ACCEF7;
}

/* .listOption:focus {
    background-color: darkcyan;
} */

.listOption:hover {
    background-color: skyblue;
}

/* .form-control,.form-select,select,option{
    background-color: rgb(31, 31, 31);
    border: 1px solid black;
    color: darkgray
}

.form-control:focus,.form-select:focus,select:focus {
    background-color: rgb(45, 52, 61);
    border: 1px solid black;
    color: darkgray
} */