<div style="padding: 20px;" class="mainDiv">
    <p style="font-size: 1em; font-weight: bold;">{{text}}</p><br/>
    @if(dropdownRequired) {
        <div #typeaheadParent style="width: 100%">
            <app-custom-typeahead [rootStyle]="typeaheadRootStyle" style="height: 100%;" [dataset]="dropdownList" (onSelect)="dropdownOnSelect($event)" [placeholder]="dropdownPlaceholder" 
            [maxListSize]="maxListSize" [maxSelectSize]="5"></app-custom-typeahead>
        </div>
        <br/>
    }
    @if(isTextFieldRequired) {
    <div class="form-floating mb-3">
        <input #formInput type="input" class="form-control" id="promptInput" [placeholder]="placeholder" [(ngModel)]="inputValue" required="true" (keydown)="onKeyDown($event)">
        <label for="promptInput">{{label}}</label>
        <div class="invalid-feedback">
            {{validationText}}
        </div>
    </div>
    }
    @if(isTextAreaRequired) {
    <div class="form-floating mb-3">
        <textarea #formTextArea class="form-control" id="promptTextArea" [placeholder]="placeholder" [(ngModel)]="textAreaValue" rows="4" required="true" (keydown)="onTextAreaKeyDown($event)"></textarea>
        <label for="promptTextArea">{{label}}</label>
        <div class="invalid-feedback">
            {{validationText}}
        </div>
    </div>
    }
    @if(checkboxRequired) {
    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" id="promptCheckbox" [(ngModel)]="checkboxValue">
        <label class="form-check-label" for="promptCheckbox">
            {{checkboxLabel}}
        </label>
    </div>
    }
    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
        <button class="btn btn-success" style="width: 100px; margin: 10px;" (click)="confirm()" [disabled]="(dropdownRequired && !dropdownSelection) || !isInputValid()">Yes</button>
        <button class="btn btn-danger" style="width: 100px;  margin: 10px;" (click)="close()">No</button>
    </div>
</div>