<div class="rootRoot" (keydown)="onKeyDown($event)">
    <div class="sidePanel" #sidePanelElement draggable="false" [hidden]="!sidePanelDisplay">
        <!-- <div class="panelContent" [hidden]="!sidePanelDisplay"> -->
            <!-- <div class="customAccordion"> -->
                 <!-- margin-top:max(16px, 10vh) -->
                <div class="customAccordion-header" (click)="handleAccordion($event)" data-toggle-content="body1"  data-toggle-collapsed="false" style="margin-top: 10px;">
                    Bundle Details
                </div>
                <div class="customAccordion-body" data-toggle-id="body1">
                    @if(activeTab?.entityType == $entityTypeAura || activeTab?.entityType == $entityTypeLWC) {
                        <div class="bundleTitle" style="position: relative;">
                            <span style="margin:auto; text-transform: capitalize; color: rgb(255, 198, 93);font-weight: bolder;">{{activeEntityTypeLabel}}</span>
                            <span style="margin:auto;">{{activeTab?.bundleDetails?.bundleName}}</span>
                            <div class="reload-bundle">
                                <i class="bi bi-arrow-clockwise" (click)="loadBundleDetails(activeTab!, true)"></i>
                            </div>
                        </div>
                        @for(bundleItem of activeTab?.bundleDetails?.contents; track bundleItem) {
                            <div class="bundleItem" (click)="clickBundleItem(bundleItem, activeTab?.bundleDetails)" [attr.data-active]="activeTab?.tabValue == bundleItem.value">
                                {{bundleItem.label}}
                                @if(bundleItem.toBeCreated) {
                                    <span style="justify-self: flex-end; flex-grow:1;text-align: right;">(create)</span>
                                }
                            </div>
                        }
                        @if(activeTab?.isAuraApplication) {
                            <div class="bundleTitle auraAppPreview" (click)="previewAuraApplication()">
                                PREVIEW APPLICATION
                            </div>
                        }
                    } @else {
                        <span style="color:white;width: 100%; height: 100px; display: flex; align-items:center; justify-content:center; font-size: 0.8em;">Nothing here !</span>
                    }
                </div>
            <!-- </div> -->
            <!-- <div class="customAccordion"> -->
                <div class="customAccordion-header" (click)="handleAccordion($event)" data-toggle-content="body2" data-toggle-collapsed="false">
                    Open Editors
                </div>
                <div class="customAccordion-body" style="border-bottom: none;" data-toggle-id="body2">
                    @for(tab of openTabs; track tab) {
                        <!-- @if(!tab.temporary) { -->
                            <div [class]="(tab.modelId == activeTabModelId ? 'editorTab editorTabactive' : 'editorTab') + (tab.hidden ? ' tabHidden ' : ' ')"
                            (click)="onTabClick(tab)" 
                            (contextmenu)="onTabContextMenu(tab, $event)">
                                @if(tab.pinned) {
                                    <span class="pin-icon" (click)="pinUnpinTab($event, tab)"><i class="bi-pin-fill"></i></span>
                                } @else {
                                    <span class="close-icon" (click)="onTabClose(tab)"><i class="bi bi-x"></i></span>
                                }
                                <div class="editorTab-name" [matTooltip]="tab.tabName" matTooltipPosition="right" matTooltipShowDelay="1000"><span>{{tab.tabName}}</span></div>
                                <div class="editorTab-orgName" [matTooltip]="tab.orgName" matTooltipPosition="right" matTooltipShowDelay="1000"><span>{{tab.orgName}}</span></div>
                            </div>
                        <!-- } -->
                    }
                </div>
            <!-- </div> -->
        <!-- </div> -->
    </div>
    <div class="sidePanelToggle" (click)="toggleSidePanel($event)" draggable="false">
        <span style="height: 95%; border: 1px solid gray; background-color: gray; border-radius: 4px;"></span>
    </div>
    <div class="root" #rootElement>
        <div [class]="'topBar ' + (quickDiffModeFlag ? 'quickDiff' : '')" (click)="clickEmptySpace($event)" data-emptyspace="true">
            <!-- SF Org dropdown -->
            <select class="form-select topBarItem connectedButton-left" aria-label="SF Org" style="max-width: fit-content; font-size: var(--fontSize);flex-shrink: 4;" #orgselect
                [ngModel]="selectedOrg"
                (ngModelChange)="onOrgSelect($event, 'selectedOrg')">
                <option>--Org--</option>
                @for (orgCred of orgCredsList; track orgCred) {
                    <option [value]="orgCred.orgName">{{orgCred.orgName}}</option>
                }
            </select>

            <!-- SF Org 2 dropdown  : DIFF Mode -->
            @if(this.quickDiffModeFlag) {
                <select class="form-select topBarItem connectedButton-mid" aria-label="SF Org 2" style="max-width: fit-content; font-size: var(--fontSize);flex-shrink: 4;" #orgselect2
                    [ngModel]="selectedOrg2"
                    (ngModelChange)="onOrgSelect($event, 'selectedOrg2')">
                    <option>--Org 2--</option>
                    @for (orgCred of orgCredsList; track orgCred) {
                        <option [value]="orgCred.orgName">{{orgCred.orgName}}</option>
                    }
                </select>
            }
    
            <!-- Authenticate button -->
            <!-- <button class="btn btn-primary topBarItem" (click)="authenticate()">Authenticate</button> -->
    
            <!-- Code category list -->
            <select class="form-select topBarItem connectedButton-mid" aria-label="Category" style="max-width: fit-content;flex-shrink: 4;border-right: 1px solid black;"
                [ngModel]="selectedEntityType"
                (ngModelChange)="onEntityTypeSelect($event)">
                <option>--Type--</option>
                @for(entityType of entityTypeList; track entityType) {
                    <option [value]="entityType.value">{{entityType.label}}</option>
                }
            </select>
    
            <!-- class component name list -->
            <app-custom-typeahead inputStyle="margin-left:0px; border-radius:0px;height:30px;" class="entityTypeahead" #entityTypeahead [dataset]="entityList" style="min-width: 100px; width: 40em; flex-shrink:  1;" (onSelect)="onEntitySelect($event)" (onUnfocus)="typeaheadUnfocus()" placeholder="Type a name to open (supports * wildcard) ..."></app-custom-typeahead>
            
            <!-- Reload Org Metadata button -->
            <button class="btn btn-secondary topBarItem connectedButton-mid" (click)="reloadOrgMetadata()" matTooltip="Reload Org Metadata (Class Components list + Objects)" matTooltipPosition="below" [disabled]="!isOrgSelected"><i class="bi bi-arrow-clockwise"></i></button>
    
            <!-- Clear cache button -->
            <button class="btn btn-danger topBarItem connectedButton-right" (click)="clearCachedOrgMetadata()" matTooltip="Clear Cached List" matTooltipPosition="below" [disabled]="!isOrgSelected" ><i class="bi bi-trash"></i></button>
            <!-- style="display: none;" -->
    
            <!-- Save button -->
            <button class="btn btn-success topBarItem connectedButton-left" (click)="handleSave()" matTooltip="Save" matTooltipPosition="below" [disabled]="!isOrgSelected || quickDiffModeFlag"><i class="bi bi-floppy"></i></button>
    
            <!-- Create new button -->
            <div class="btn-group">
                <button id="dropdownMenuButton" type="button" class="btn btn-success topBarItem dropdown-toggle connectedButton-right" data-bs-toggle="dropdown" aria-expanded="false" [disabled]="!isOrgSelected || quickDiffModeFlag"  matTooltip="Create New" matTooltipPosition="below" >
                    <i class="bi bi-plus-circle"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton" role="menu">
                    @for(entity of entityTypeList_singular; track entity) {
                        <li><a class="dropdown-item" draggable=false (click)="createNewCode(entity)" role="menuitem" >{{entity.label}}</a></li>
                    }
                </ul>
            </div>
    
            <!-- language -->
            <app-custom-typeahead #languageSelector [dataset]="languageList" style="width: 7em; flex-shrink:  1; margin-left: 5px;" (onSelect)="onLanguageSelect($event)" placeholder="Language..."></app-custom-typeahead>
            
    
            <!-- DIFF buttons -->
            @if(activeTab?.editorType == $diffEditor || true) {
                <button [disabled]="activeTab?.editorType != $diffEditor" class="btn btn-light topBarItem connectedButton-left" style="flex-shrink:0;" (click)="prevDiff()" matTooltipPosition="below" matTooltip="Previous Diff"><i class="bi bi-arrow-up"></i></button>
                <button [disabled]="activeTab?.editorType != $diffEditor" class="btn btn-light topBarItem connectedButton-mid" style="flex-shrink:0;" (click)="nextDiff()" matTooltipPosition="below" matTooltip="Next Diff"><i class="bi bi-arrow-down"></i></button>
                <button [disabled]="activeTab?.editorType != $diffEditor" class="btn btn-light topBarItem connectedButton-mid" style="flex-shrink:0;" (click)="swapDiff()" matTooltipPosition="below" matTooltip="Swap Diff"><i class="bi bi-arrow-left-right"></i></button>
                <button [disabled]="activeTab?.editorType != $diffEditor" [class]="'btn btn-light topBarItem connectedButton-mid ' + (!sideBySideDiff ? 'active' : '')" style="flex-shrink:0;" (click)="toggleInlineDiff()" matTooltipPosition="below" matTooltip="Toggle Inline/Side by side Diff"><i class="bi bi-layout-split"></i></button>
                <button [disabled]="activeTab?.editorType != $diffEditor" [class]="'btn btn-light topBarItem connectedButton-right ' + (whitespaceDifferences ? 'active' : '')" style="flex-shrink:0;" (click)="toggleSpaceDiff()" matTooltipPosition="below" matTooltip="Toggle Whitespace Diff"><i class="bi bi-distribute-horizontal"></i></button>
            }

            <!-- Font size buttons -->
             <!-- word wrap -->
            <button [class]="'btn btn-primary topBarItem connectedButton-left ' +( wordWrap ? 'wrapActive' : '')" style="flex-shrink:0;" (click)="toggleWordWrap()" matTooltip="Word Wrap" matTooltipPosition="below" [disabled]="!isOrgSelected"><i class="bi bi-text-wrap"></i></button>
            <button class="btn btn-secondary topBarItem connectedButton-mid" style="flex-shrink:0;" (click)="changeFontSize(true)" matTooltip="Increase Font Size" matTooltipPosition="below"><i class="bi bi-patch-plus"></i></button>
            <button class="btn btn-secondary topBarItem connectedButton-right" style="flex-shrink:0;" (click)="changeFontSize(false)" matTooltip="Decrease Font Size" matTooltipPosition="below"><i class="bi bi-patch-minus"></i></button>
            
            <!-- Open in popup window -->
            <button class="btn btn-primary topBarItem" style="flex-shrink:0;" (click)="openAsPopup()" matTooltipPosition="below" matTooltip="Open in popup window"><i class="bi bi-window-stack"></i></button>
            
            <!-- Quick Diff Mode -->
            <button [class]="'btn btn-primary topBarItem ' + (quickDiffModeFlag ? 'active' : '')" style="flex-shrink:0;" (click)="quickDiffMode()" matTooltipPosition="below" matTooltip="Quick Diff Mode : Useful for code reviews and code comparison across orgs"><i class="bi bi-file-diff"></i></button>
            
            <!-- <button class="btn btn-light topBarItem" style="flex-shrink:0;" (click)="dummyButton()" matTooltipPosition="below" matTooltip="Toggle Whitespace Diff"><i class="bi bi-distribute-horizontal"></i></button> -->
    
        </div>
        <div [class]="'tabContainer ' + (quickDiffModeFlag ? 'quickDiff' : '') " (mousewheel)="tabContainerScroll($event)" #tabContainer (click)="clickEmptySpace($event)" data-emptyspace="true">
            @for(tab of openTabs; track tab) {
                @if(!tab.hidden) {
                    <div class="tab" (contextmenu)="onTabContextMenu(tab, $event)" [attr.data-active]="activeTabModelId == tab.modelId" (click)="onTabClick(tab)" (mouseup)="onTabMouseUp(tab, $event)" draggable="true" (dragstart)="tabDragStart($event)" (dragend)="tabDragEnd($event)"
                        [attr.data-modified]="tab.contentChanged"
                        (drop)="tabDrop($event)" (dragenter)="tabDragEnter($event)" (dragleave)="tabDragLeave($event)" [attr.data-tab-modelid]="tab.modelId">
                        <img [src]="tab.icon" width="16px" height="16px"  />
                        <div class="tabHeading">
                            <span>{{tab.tabName}}</span>
                            <span style="font-size:0.45rem; line-height:1;">{{tab.orgName}}</span>
                        </div>
                        @if(tab.pinned) {
                            <span class="tabPin" (click)="pinUnpinTab($event, tab)"><i class="bi-pin-fill"></i></span>
                        } @else {
                            <span class="tabCross" (click)="onTabClose(tab)"><img src="assets/crossIcon.png" width="10px" height="10px"/></span>
                        }
                    </div>
                }
            }
        </div>
        <div class="pathBar">
            <span class="">{{activeTab?.orgName}}</span>
            <span><i class="bi bi-caret-right-fill"></i></span>
            <span class="">{{activeTab?.entityDisplayType}}</span>
            <span><i class="bi bi-caret-right-fill"></i></span>
            @if(activeTab?.bundleName) {
                <span class="">{{activeTab?.bundleName}}</span>
                <span><i class="bi bi-caret-right-fill"></i></span>
            }
            <span class="">{{activeTab?.tabName}}</span>
        </div>
        <div class="codeEditor" #editorContainer (keyup)="onKeyUp($event)" (focusout)="onFocusOut($event)">
            <app-code-editor #editor [(code)]="code" defaultLanguage="yaml" (codeChange)="onCodeChanged($event)" (onCursorPositionChange)="cursorPositionChange($event)"
                [delayLoad]="false"></app-code-editor>
                <!-- [loadingSpinner]="activeTab?.loadingSpinner || false" -->
        </div>
        <div style="width: 100%; height: 0px; position: relative;">
            <!-- ERRORS pane -->
            @if(this.errorsPaneVisibility) {
                <div class="errors-pane">
                    <div class="errors-pane-header">
                        <span class="errors-pane-header-title">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-octagon-fill" viewBox="0 0 16 16">
                                <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                            </svg>
                            ERRORS :
                        </span>
                        <span class="close-button" (click)="closeErrorsPane()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#EE1111" stroke="white" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708"/>
                            </svg>
                        </span>
                    </div>
                    <div class="errors-pane-content">
                        <table>
                            <tr>
                                <th>Org Name</th>
                                <th>Tab Name</th>
                                <th>Line Number</th>
                                <th>Problem</th>
                            </tr>
                            @for(org of deploymentErrorsKeys; track org) {
                                @for(error of deploymentErrors[org]; track error) {
                                    <tr>
                                        <td>{{error.orgName}}</td>
                                        <td>{{error.tabName}}</td>
                                        <td>{{error.lineNumber}}</td>
                                        <td class="problem-cell">{{error.problem}}</td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                </div>
            }
        </div>
        <div class="bottomBar">
            <div class="bottomBar-left">
                <span (click)="showErrorsPane()" class='errors' [attr.data-open]="errorsPaneVisibility">Errors : {{deploymentErrorsCount}}</span>
                <span (click)="openOrg()" class="open-org" [title]="selectedOrgInstanceUrl">{{organizationName}}</span>
                <span class="open-org">{{organizationType}}</span>
            </div>
            <div class="bottomBar-right">
                @if(activeTab?.isCodeEditor) {
                    <span class="cursor-position">Ln {{cursorPosition.lineNumber}}, Col {{cursorPosition.column}}</span>
                }
                <span (click)="reportAnIssue()" class="report-issue">Report Issue</span>
            </div>
        </div>
    </div> 
    @if(showSpinner == true) {
        <div class="spinnerDiv">
            <div class="spinnerContainer">
                <mat-spinner></mat-spinner>
            </div>
        </div>
    } 
    
    <div class="tabRightClickMenu" [hidden]="showTabRightClickMenu == false">
        <ul class="dropdown-menu dropdown-menu-dark" role="menu" aria-labelledby="dropdownMenu" stye="">
            @if(tabForContextMenu?.editorType == $codeEditor) {
                <li class="dropdown-item" (click)="selectForCompare()">Select For Compare</li>
                <li class="dropdown-item" (click)="compareWithSelected()" [hidden]="compareTab == null || compareTab.modelId == tabForContextMenu?.modelId">Compare with Selected</li>
                <li class="dropdown-item" (click)="reloadEntity()">Reload</li>
                <li class="dropdown-item" (click)="loadEntityFromOtherOrg()">Load from current org</li>
                <li class="dropdown-item" (click)="copyFilename(false)">Copy Name</li>
                <li class="dropdown-item" (click)="copyFilename(true)">Copy Full Name</li>
                <li class="dropdown-item" (click)="diffWithOrg()">Diff local with org</li>
            }
            <li class="dropdown-item" (click)="hideShowTab()">
                @if(tabForContextMenu?.hidden){Unhide Tab}
                @else {Hide Tab}
            </li>
            <li class="dropdown-item" (click)="pinUnpinTab(null)">
                @if(tabForContextMenu?.pinned){Unpin Tab}
                @else {Pin Tab}
            </li>
            <!-- <li class="dropdown-divider"></li>
            <li class="dropdown-item"><a class="dropdown-item" tabindex="-1" href="#">Separated link</a></li> -->
        </ul>
    </div>
</div>